<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <omnyfy_mcm>
            <general>
                <enable_wholesale>0</enable_wholesale>
                <select_wholesale>0</select_wholesale>
                <question>Please select the basis on which you would like to sell on the marketplace.</question>
                <default_vendor_payout>0</default_vendor_payout>
            </general>
        </omnyfy_mcm>
    </default>
</config>
