<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="OmnyfyCustomzation_BuyerApproval::configuration" title="Buyer Approval" sortOrder="1"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Customer::customer">
                    <resource id="OmnyfyCustomzation_BuyerApproval::approval" title="Buyer Approval" sortOrder="161801" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
