<!--@subject You receive a new enquiry @-->
{{template config_path="design/email/header_template"}}
<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hi"}} {{var customer_first_name}}</p>
            <p>{{trans "Thank you for your enquiry. We will get back to you shortly."}}</p>
            <p>{{trans "To view and manage enquiries, just log into your dashboard."}}</p>
            <p><a href="{{var enquiry_link}}">{{trans "Respond to enquiry"}}</a></p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
