<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="OmnyfyCustomzation_EmailTemplate" setup_version="1.0.0">
		<sequence>
            <module name="Magento_Sales"/>
            <module name="Omnyfy_Vendor"/>
            <module name="OmnyfyCustomzation_Mcm"/>
            <module name="OmnyfyCustomzation_OrderNote"/>
        </sequence>
    </module>
</config>
