<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <enquiry>
            <notifications>
                <show_email_template>show_list_of_email_template</show_email_template>
            </notifications>
        </enquiry>
    </default>
</config>