<!--@subject {{trans "You have requested a change to rebate for %vendorname," vendorname=$vendorname}} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td valign="top">
            <p>
                <strong>{{trans "%vendorname" vendorname=$vendorname}}</strong>
                {{trans " (ID: %vendorid) has made a request to change their Rebate for " vendorid=$vendorid}}
                <strong>{{trans "%rebatename (Rebate ID: %rebateId)" rebatename=$rebatename
                    rebateId=$rebateId}}</strong>
            </p>
            <p>{{trans "Current Rebate %: %rebatecurent% (Rebate ID: %rebateId)" rebatecurent=$rebatecurent
                rebateId=$rebateId}}</p>
            <p> {{trans "New Rebate % Requested: %rebatenew% (Rebate ID: %rebateId)" rebatenew=$rebatenew
                rebateId=$rebateId}}</p>
            <p>{{trans "Please login to your marketplace account to make the requested Rebate Change."}}</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
