<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <omnyfy_vendor_featured>
            <vendor_featured>
                <is_enabled>1</is_enabled>
                <is_tag_enabled>1</is_tag_enabled>
            </vendor_featured>
            <promo_widget>
                <is_enabled>1</is_enabled>
                <product_num>3</product_num>
            </promo_widget>
            <spotlight_banner>
                <is_enabled>1</is_enabled>
                <title>Popular Vendors</title>
                <breakpoint>768</breakpoint>
            </spotlight_banner>
        </omnyfy_vendor_featured>
    </default>
</config>
