<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="omnyfy" translate="label" sortOrder="100">
            <label>Omnyfy</label>
        </tab>
        <section id="omnyfy_vendorsignup" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Vendor Sign Up</label>
            <tab>omnyfy</tab>
            <resource>Omnyfy_VendorSignUp::omnyfy_vendorsignup_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Vendor Sign Up</label>
                <field id="return_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Return Url for error of fail</label>
                </field>
                <field id="success_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Success Page after sign up</label>
                </field>
            </group>
            <group id="vendor_signup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>New Vendor Sign Up – Marketplace Owner Notification</label>
                <field id="template" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<br>New Vendor notification e-mail</b>]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment model="Omnyfy\VendorSignUp\Model\VendorSignUpComment"/>
                </field>
                <field id="cc" translate="label" type="text" sortOrder="10" showInDefault="10" showInWebsite="1" showInStore="1">
                    <label>Email Copy (CC) to</label>
                    <backend_model>Omnyfy\Core\Model\System\Config\Backend\SaveMultipleEmail</backend_model>
                    <comment>Add multiple email separated by a comma</comment>
                </field>
            </group>
            <group id="vendor_signup_customer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>New Vendor Sign Up – Vendor Confirmation</label>
                <field id="template" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<br>Confirmation e-mail for potential Vendor]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="sent_from" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sent From</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="cc" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Copy (CC) to</label>
                    <backend_model>Omnyfy\Core\Model\System\Config\Backend\SaveMultipleEmail</backend_model>
                    <comment>Add multiple email separated by a comma</comment>
                </field>
            </group>
            <group id="vendor_signup_approve" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Vendor Notifications – Approved</label>
                <field id="template" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<br>Approval e-mail sent to Vendors]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="sent_from" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sent From</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="cc" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Copy (CC) to</label>
                    <backend_model>Omnyfy\Core\Model\System\Config\Backend\SaveMultipleEmail</backend_model>
                    <comment>Add multiple email separated by a comma</comment>
                </field>
            </group>
            <group id="vendor_signup_reject" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Vendor Notifications – Rejected</label>
                <field id="template" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<br>Rejection e-mail sent to Vendors]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="sent_from" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sent From</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="cc" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Copy (CC) to</label>
                    <backend_model>Omnyfy\Core\Model\System\Config\Backend\SaveMultipleEmail</backend_model>
                    <comment>Add multiple email separated by a comma</comment>
                </field>
            </group>
        </section>
        <!--        Magento 2.4 google recaptcha-->
        <section id="recaptcha_frontend">
            <group id="type_for">
                <field id="vendor_signup_form" translate="label" type="select" sortOrder="260" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable for Vendor Sign Up form</label>
                    <source_model>Magento\ReCaptchaAdminUi\Model\OptionSource\Type</source_model>
                </field>
            </group>
        </section>


    </system>
</config>
