<!--@subject {{trans "Your account on %store_name has not been approved." store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var customer.email":"Customer Email",
"var store.getFrontendName()":"Store Name",
"var store.getBaseUrl()":"Store URL"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Hi %name," name=$customer.name}}</p>
<p>{{trans "Thank you for registering your account at our website. Unfortunately, we <strong>cannot accept</strong> your account." |raw}}</p>
<p>{{trans "Please contact us for more information."}}</p>
<p>Best wishes,</p>
<p>
    Vermillion Customer Support Team <br/>
    <a href="{{store url=""}}">{{store url=""}}</a>
</p>

{{template config_path="design/email/footer_template"}}
