<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<vendor_map_search>
			<options>
				<is_active/>
			</options>
			<clock>
				<enabled>1</enabled>
				<default>1</default>
			</clock>
			<map_setting>
				<map_type>roadmap</map_type>
				<map_style>default</map_style>
				<default_zoom>10</default_zoom>
				<default_center>-37.83316099, 144.97132</default_center>
			</map_setting>
			<map_develop>
				<content_map_area>.search-result-wrapper</content_map_area>
				<layer_container>.search-result-filter-wrapper</layer_container>
				<layer_counter_container>.search-result-info-bar</layer_counter_container>
			</map_develop>
		</vendor_map_search>
	</default>
</config>
