<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="carriers" sortOrder="1000" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<group id="calculateweight" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Calculated Weight</label>
				<field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="name" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Method Name</label>
				</field>
				<field id="title" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Title</label>
				</field>
				<field id="dimension_multiplier" type="text" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Dimension Multiplier</label>
				</field>
				<field id="weight_multiplier" type="text" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Weight Multiplier</label>
				</field>
				<field id="sort_order" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Sort Order</label>
				</field>
			</group>
		</section>
	</system>
</config>
