<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <b2c>
            <general>
                <customer_retail_group>4</customer_retail_group>
                <customer_trade_group>1</customer_trade_group>
                <addtocart_label>Buy at Retail</addtocart_label>
                <retail_create_success_message>Thank you for register</retail_create_success_message>
                <notification_message>For shipping to the {country}, additional import taxes/duties may apply, Please contact cs@vermillionlifestyle.com for a quote.</notification_message>
            </general>
        </b2c>
    </default>
</config>
