<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales" title="Sales">
                    <resource id="Magento_Sales::sales_operation">
                        <resource id="Omnyfy_Easyship::easyshipaccount" title="Manage Easyship Account Grid View" translate="title" sortOrder="100" />
                        <resource id="Omnyfy_Easyship::bookpickup" title="Manage Easyship Book Pickup Grid and Detail View" translate="title" sortOrder="110" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>