<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Omnyfy\Easyship\Model\ResourceModel\EasyshipAccount\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">omnyfy_easyship_account</argument>
            <argument name="resourceModel" xsi:type="string">Omnyfy\Easyship\Model\ResourceModel\EasyshipAccount</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="omnyfy_easyship_account_listing_data_source" xsi:type="string">Omnyfy\Easyship\Model\ResourceModel\EasyshipAccount\Grid\Collection</item>
                <item name="omnyfy_easyship_vendor_source_form_data_source" xsi:type="string">Omnyfy\Easyship\Model\ResourceModel\EasyshipVendorSource\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Checkout\Block\Cart\LayoutProcessor" type="Omnyfy\Easyship\Model\Checkout\Block\Cart\Shipping" />

    <preference for="Magento\Shipping\Block\Items" type="Omnyfy\Easyship\Block\ShippingItems" />

    <preference for="Omnyfy\Vendor\Ui\DataProvider\Source\Form\SourceDataProvider" type="Omnyfy\Easyship\Ui\DataProvider\Source\Form\SourceDataProvider" />

    <preference for="Magento\Inventory\Model\ResourceModel\Source\Collection" type="Omnyfy\Easyship\Model\ResourceModel\Source\Collection" />

    <!-- Source modifier -->
    <virtualType name="Omnyfy\Easyship\Ui\DataProvider\Source\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="general" xsi:type="array">
                    <item name="class" xsi:type="string">Omnyfy\Easyship\Ui\DataProvider\Source\Form\Modifier\GrantPermissionPool</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Omnyfy\Easyship\Ui\DataProvider\Source\Form\SourceDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Omnyfy\Easyship\Ui\DataProvider\Source\Form\Modifier\Pool</argument>
        </arguments>
    </type>

</config>