<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="omnyfy_easyship_observer_getquoteorder" instance="Omnyfy\Easyship\Observer\GetQuoteOrder"/>
        <observer name="omnyfy_easyship_observer_sendmcmcheckoutdata" instance="Omnyfy\Easyship\Observer\SendMcmCheckoutData"/>
    </event>
    <event name="email_shipment_set_template_vars_before">
        <observer name="omnyfy_easyship_custom_email_shipment" instance="Omnyfy\Easyship\Observer\CustomEmailShipmentObserver" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="omnyfy_easyship_observer_sendmcmshipmentdata" instance="Omnyfy\Easyship\Observer\SendMcmShipmentData" />
    </event>
    <event name="controller_action_inventory_source_save_after">
        <observer name="omnyfy_easyship_observer_save_easyship_account_to_source" instance="Omnyfy\Easyship\Observer\SaveEasyshipAccountToSourceObserver" />
    </event>
    
</config>