<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OmnyfyCustomzation_B2C::b2c" title="B2C" translate="title"
             module="OmnyfyCustomzation_B2C"
             parent="OmnyfyCustomzation_Core::vermillion" sortOrder="20"
             resource="OmnyfyCustomzation_B2C::b2c"/>

        <add id="OmnyfyCustomzation_B2C::account" title="Request Become To Trader" translate="title"
             module="OmnyfyCustomzation_B2C"
             parent="OmnyfyCustomzation_B2C::b2c" sortOrder="10"
             dependsOnModule="OmnyfyCustomzation_B2C" action="buyer/account"
             resource="OmnyfyCustomzation_B2C::account"/>

    </menu>
</config>
