<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vermillion" translate="label" sortOrder="50">
            <label>Vermillion</label>
        </tab>
        <section id="b2c" sortOrder="10" showInWebsite="1" showInStore="0" showInDefault="1" translate="label">
            <label>B2C</label>
            <tab>vermillion</tab>
            <resource>OmnyfyCustomzation_B2C::config_omnyfycustomzation_b2c</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="0" showInDefault="1" translate="label">
                <label>General</label>
                <field id="customer_trade_group" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Customer Trade Group</label>
                    <source_model>Magento\Customer\Model\Customer\Attribute\Source\Group</source_model>
                </field>
                <field id="customer_retail_group" type="select" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Customer Retail Group</label>
                    <source_model>Magento\Customer\Model\Customer\Attribute\Source\Group</source_model>
                </field>
                <field id="addtocart_label" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Add To Cart Label</label>
                </field>
                <field id="retail_create_success_message" type="text" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Retail Create Success Message</label>
                </field>
            </group>
            <group id="shipping" sortOrder="20" showInWebsite="1" showInStore="0" showInDefault="1" translate="label">
                <label>Shipping</label>
                <field id="allow_countries" type="multiselect" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Allow Countries</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Country</source_model>
                </field>
                <field id="notification_message" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Notification Message</label>
                </field>
            </group>
        </section>
    </system>
</config>
