<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_GroupAssign
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_GroupAssign::group_assign"
             title="Amasty Customer Group Auto Assign"
             module="Amasty_GroupAssign"
             sortOrder="120"
             parent="Magento_Customer::customer"
             resource="Amasty_GroupAssign::group_assign"/>
        <add id="Amasty_GroupAssign::rules"
             title="Rules"
             module="Amasty_GroupAssign"
             sortOrder="10"
             parent="Amasty_GroupAssign::group_assign"
             action="amasty_groupassign/rules/index"
             resource="Amasty_GroupAssign::rules"/>
    </menu>
</config>
