<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="omnyfy_custom_configurable_price" type="OmnyfyCustomzation\ConfigurableProduct\Plugin\FinalPrice" />
    </type>
    <type name="Magento\ConfigurableProduct\Model\Quote\Item\CartItemProcessor">
        <plugin name="checkout_process" type="OmnyfyCustomzation\ConfigurableProduct\Plugin\Quote\Item\CartItemProcessor" sortOrder="10" disabled="false"/>
    </type>
</config>