<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="omnyfy_approval_observer_product_save_before" instance="Omnyfy\Approval\Observer\ProductSaveBefore" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="omnyfy_approval_observer_product_save_after" instance="Omnyfy\Approval\Observer\ProductSaveAfter" />
    </event>
</config>
