<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="omnyfy" translate="label" sortOrder="100">
            <label>Omnyfy</label>
        </tab>
        <section id="omnyfy_approval" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Product Approval Workflow</label>
            <tab>omnyfy</tab>
            <resource>Omnyfy_Approval::base</resource>
            <group id="general" canRestore="1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Approval Workflow Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="1" canRestore="1">
                    <label>MO Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="email_template_approval" canRestore="1" translate="label comment" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Approval Email Template</label>
                    <source_model>Omnyfy\Approval\Model\Source\Email\ApprovalTemplate</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="email_template_fail" canRestore="1" translate="label comment" type="select" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Review Fail Email Template</label>
                    <source_model>Omnyfy\Approval\Model\Source\Email\ReviewFailedTemplate</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="email_template_pass" canRestore="1" translate="label comment" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Review Pass Email Template</label>
                    <source_model>Omnyfy\Approval\Model\Source\Email\ReviewPassedTemplate</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="email_template_submit" canRestore="1" translate="label comment" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Submit To Review Template</label>
                    <source_model>Omnyfy\Approval\Model\Source\Email\SubmitToReviewTemplate</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="copy_to" translate="label comment" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send Email Copy To</label>
                    <comment>Comma-separated</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
