<div class="terms-and-conditions unchecked" id="terms-and-conditions">
    <input type="checkbox" name="accept_terms_conditions" class="accept-checkbox" id="accept-checkbox" data-bind='checked: Accept'>
    <!-- ko i18n: 'I confirm I accept the ' -->
    <!-- /ko -->
    <a href="https://www.vermillionlifestyle.com/vermillion-lifestyle-holdings-limited-terms-and-conditions"
       target="_blank">
        <!-- ko i18n: 'Vermillion Terms and Conditions.' -->
        <!-- /ko -->
    </a>
</div>
<div class="duties-tax">
    <!-- ko i18n: 'International orders may be subject to import duties and taxes, to be paid by the Buyer. ' -->
    <!-- /ko -->
    <!-- ko i18n: 'Please contact' -->
    <!-- /ko -->
    <a href="mailto:cs@vermillionlifestyle.com">cs@vermillionlifestyle.com</a>
    <!-- ko i18n: 'for an estimate, however, the Buyer is responsible for paying the actual and final charges, not Vermillion.' -->
    <!-- /ko -->
</div>
