<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="Omnyfy\RmaMobileapi\Api\RmaRepositoryInterface" type="Omnyfy\RmaMobileapi\Model\RmaRepository" />
    <preference for="Omnyfy\RmaMobileapi\Api\Data\RmaOrderDataInterface" type="Omnyfy\RmaMobileapi\Model\Data\RmaOrderData"/>

</config>
