<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="omnyfy" translate="label" sortOrder="100">
            <label>Omnyfy</label>
        </tab>
        <section id="omnyfy_vendorsignup" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Vendor Sign Up</label>
            <tab>omnyfy</tab>
            <resource>Omnyfy_VendorSignUp::omnyfy_vendorsignup_config</resource>
			<group id="google_place" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Google Place</label>
                <field id="autocomplete_disabled" translate="label" type="select" sortOrder="10" showInDefault="10" showInWebsite="1" showInStore="1">
                    <label>Disable Autocomplete Address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
