<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <omnyfy_vendorsignup>
            <google_place>
                <autocomplete_disabled>1</autocomplete_disabled>
            </google_place>
        </omnyfy_vendorsignup>
    </default>
</config>
