<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Omnyfy\VendorSignUp\Controller\Index\Save" type="OmnyfyCustomzation\VendorSignUp\Controller\Index\Save"/>
</config>
