<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Omnyfy_Vendor::base">
                    <resource id="Omnyfy_RebateUI::base" title="Rebate" sortOrder="300">
                        <resource id="Omnyfy_RebateUI::rebate_report" title="Rebate report" translate="title"
                                  sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
