<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote">
        <plugin name="Amasty_HidePrice::disable_add_to_cart" disabled="true"/>
        <plugin name="OmnyfyCustomzation_B2C::disable_add_to_cart" type="OmnyfyCustomzation\B2C\Plugin\Quote\QuotePlugin" disabled="false"/>
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="buyerapproval_customer_authenticated" disabled="true"/>
        <plugin name="OmnyfyCustomzation_B2C::authenticated_retail_buyer" type="OmnyfyCustomzation\B2C\Plugin\Customer\CustomerAuthenticated" sortOrder="1"/>
    </type>
    <type name="Magento\Wishlist\Model\Wishlist">
        <plugin name="Amasty_HidePrice::disable_add_to_wishlist" disabled="true" />
        <plugin name="OmnyfyCustomzation_B2C::disable_add_to_wishlist" type="OmnyfyCustomzation\B2C\Plugin\Wishlist\Model\WishlistPlugin" />
    </type>
    <type name="Magento\Wishlist\Controller\Index\Send">
        <plugin name="redirect_after-share" type="OmnyfyCustomzation\B2C\Plugin\Wishlist\Shared" />
    </type>
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="buyerToTrade" xsi:type="array">
                    <item name="renderer" xsi:type="const">Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">OmnyfyCustomzation_B2C::messages/buyer_to_trade.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
