<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="omnyfy_vendor_form_after_save">
        <observer name="omnyfy_vendor_form_after_save_observer_rebate_vendor"
                  instance="Omnyfy\RebateCore\Observer\VendorRebateSave"/>
    </event>
    <event name="omnyfy_rebate_save_after">
        <observer name="omnyfy_rebate_after_save_update_rebate_vendor"
                  instance="Omnyfy\RebateCore\Observer\UpdateVendorRebate"/>
    </event>
</config>
