<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="omnyfy" translate="label" sortOrder="10">
            <label>Omnyfy</label>
        </tab>
        <section id="omnyfy_rebate_core" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Rebates Management</label>
            <tab>omnyfy</tab>
            <resource>Omnyfy_RebateCore::omnyfy_rebate_core_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Rebate Management</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payment_term" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Rebate Invoice Payment Term</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="prefix_invoice" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Prefix Rebate Tax Invoice number</label>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="admin_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="1">
                <label>Request Change to Rebate Email to Vendor</label>
                <field id="template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Select email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="mo_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="1">
                <label>Request Change to Rebate Email to Marketplace Owner</label>
                <field id="template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Select email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="invoice_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="1">
                <label>Invoice Rebate Email Template Email</label>
                <field id="template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Select email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="payment_detail" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="1">
                <label>Payment Details</label>
                <field id="payment_detail" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rebate Payment Details:</label>
                </field>
            </group>
        </section>
    </system>
</config>