<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="buyerapproval" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Buyer Approval</label>
            <tab>customer</tab>
            <resource>OmnyfyCustomzation_BuyerApproval::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Select <strong>Yes</strong> to enable this module.]]></comment>
                </field>
                <field id="message_after_register" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>After registration Message</label>
                    <validate>required-entry</validate>
                    <comment>This notification is displayed when account is successfully registered</comment>
                </field>
                <field id="error_message" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Need to Approval Message</label>
                    <validate>required-entry</validate>
                    <comment>This notification is displayed when buyer try to login without approval</comment>
                </field>
                <field id="auto_approval" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Auto Approval With Customer Group</label>
                    <source_model>OmnyfyCustomzation\BuyerApproval\Model\Config\Source\CustomerGroups</source_model>
                    <comment><![CDATA[Customer group for retail buyer]]></comment>
                </field>
            </group>
            <group id="admin_notification_email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Admin Notification Email</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="sendto" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Admin Email</label>
                    <comment><![CDATA[Separated by commas (,)]]></comment>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="customer_notification_email" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Notification Email</label>
                <field id="sender" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <group id="customer_success_email" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Successful Register</label>
                    <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    </field>
                </group>
                <group id="customer_approve_email" translate="label" type="text" sortOrder="111" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Approve Notification</label>
                    <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    </field>
                </group>
                <group id="customer_not_approve_email" translate="label" type="text" sortOrder="121" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Not Approve Notification</label>
                    <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
