<table class="admin__table-secondary amaudit-secondary-table">
    <tbody>
        <tr class="amaudit-tr -dark">
            <th class="amaudit-th" data-bind="i18n: 'Date:'"></th>
            <td class="amaudit-td" data-bind="text: $data.data.date"></td>
        </tr>
        <tr>
            <th class="amaudit-th" data-bind="i18n: 'Username:'"></th>
            <td class="amaudit-td" data-bind="text: $data.data.username"></td>
        </tr>
        <tr class="amaudit-tr -dark">
            <th class="amaudit-th" data-bind="i18n: 'Full Name:'"></th>
            <td class="amaudit-td" data-bind="text: $data.data.full_name"></td>
        </tr>
        <tr>
            <th class="amaudit-th" data-bind="i18n: 'IP Address:'"></th>
            <td class="amaudit-td" data-bind="text: $data.data.ip"></td>
        </tr>
        <tr class="amaudit-tr -dark">
            <th class="amaudit-th" data-bind="i18n: 'Email:'"></th>
            <td class="amaudit-td" data-bind="text: $data.data.email"></td>
        </tr>
        <tr>
            <th class="amaudit-th" data-bind="i18n: 'Action Type:'"></th>
            <td class="amaudit-td" data-bind="text: $data.data.type"></td>
        </tr>
        <tr class="amaudit-tr -dark">
            <th class="amaudit-th" data-bind="i18n: 'Object:'"></th>
            <td class="amaudit-td" data-bind="text: $data.data.item"></td>
        </tr>
    </tbody>
</table>
