<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_HidePrice
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="amasty-hide-price" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\HidePrice\Ui\DataProvider\Product\Form\Modifier\HidePrice</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="Amasty_HidePrice:correct-configuration-url"
                type="Amasty\HidePrice\Plugin\Backend\Model\Menu\Item" />
    </type>

    <type name="Amasty\HidePrice\Model\Config\Backend\Popup\Customform">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="module_manager" xsi:type="object">Magento\Framework\Module\Manager</item>
            </argument>
        </arguments>
    </type>
</config>
