<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <system>
        <section id="carriers">
            <group id="easyship" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Easyship</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="platform_name" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Platform Name</label>
                    <validate>validate-length maximum-length-180</validate>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                    </depends>
                </field>
                <field id="tax_paid_by" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Taxes/Duties Paid By</label>
                    <source_model>Omnyfy\Easyship\Model\Source\TaxPayer</source_model>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                    </depends>
                </field>
                <field id="include_insurance" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipment Includes Insurance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                    </depends>
                </field>
                <field id="allow_courier_fallback" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Courier Fallback</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to Yes, when booking the shipment if the courier chosen by the customer is no longer available other options will be displayed. This may cause a difference in price from when the customer processed their order.</comment>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                    </depends>
                </field>
                <field id="buy_label_sync" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Buy Label Synchronously</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                    </depends>
                </field>
                <field id="buy_label_format" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Buy Label File Format</label>
                    <source_model>Omnyfy\Easyship\Model\Source\LabelFileFormat</source_model>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                        <field id="carriers/easyship/buy_label_sync">1</field>
                    </depends>
                </field>
                <field id="label_size" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Label Size</label>
                    <source_model>Omnyfy\Easyship\Model\Source\Dimensions</source_model>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                        <field id="carriers/easyship/buy_label_sync">1</field>
                    </depends>
                </field>
                <field id="commercial_invoice" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Commercial Invoice</label>
                    <source_model>Omnyfy\Easyship\Model\Source\Dimensions</source_model>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                        <field id="carriers/easyship/buy_label_sync">1</field>
                    </depends>
                </field>
                <field id="packing_slip" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Packing Slip</label>
                    <source_model>Omnyfy\Easyship\Model\Source\Dimensions</source_model>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                        <field id="carriers/easyship/buy_label_sync">1</field>
                    </depends>
                </field>
                <field id="webhook_comment" translate="label" type="editor" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Instruction for Webhook</label>
                    <frontend_model>Omnyfy\Easyship\Block\Adminhtml\System\Config\Editor</frontend_model>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                    </depends>
                </field>
                <field id="sync_shipping_category" translate="label" type="button" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Omnyfy\Easyship\Block\Adminhtml\Config\SyncShippingCategory</frontend_model>
                    <label>Sync Shipping Category from API</label>
                    <depends>
                        <field id="carriers/easyship/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>