<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Omnyfy\Webhook\Api\WebhookRepositoryInterface" type="Omnyfy\Webhook\Model\WebhookRepository"/>
    <preference for="Omnyfy\Webhook\Api\Data\WebhookInterface" type="Omnyfy\Webhook\Model\Webhook"/>
    <preference for="Omnyfy\Webhook\Api\Data\WebhookSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <preference for="Omnyfy\Webhook\Api\WebhookEventScheduleRepositoryInterface" type="Omnyfy\Webhook\Model\WebhookEventScheduleRepository"/>
    <preference for="Omnyfy\Webhook\Api\Data\WebhookEventScheduleInterface" type="Omnyfy\Webhook\Model\WebhookEventSchedule"/>
    <preference for="Omnyfy\Webhook\Api\Data\WebhookEventScheduleSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <preference for="Omnyfy\Webhook\Api\WebhookEventHistoryRepositoryInterface" type="Omnyfy\Webhook\Model\WebhookEventHistoryRepository"/>
    <preference for="Omnyfy\Webhook\Api\Data\WebhookEventHistoryInterface" type="Omnyfy\Webhook\Model\WebhookEventHistory"/>
    <preference for="Omnyfy\Webhook\Api\Data\WebhookEventHistorySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <preference for="Omnyfy\Webhook\Api\WebhookTypeRepositoryInterface" type="Omnyfy\Webhook\Model\WebhookTypeRepository"/>
    <preference for="Omnyfy\Webhook\Api\Data\WebhookTypeInterface" type="Omnyfy\Webhook\Model\WebhookType"/>
    <preference for="Omnyfy\Webhook\Api\Data\WebhookTypeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>