<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="omnyfy_webhook_order_created" instance="Omnyfy\Webhook\Observer\WebhookOrderCreated"/>
    </event>

    <event name="sales_order_save_after">
        <observer name="omnyfy_webhook_order_updated" instance="Omnyfy\Webhook\Observer\WebhookOrderUpdated"/>
    </event>

    <event name="checkout_cart_add_product_complete">
        <observer name="omnyfy_webhook_cart_added" instance="Omnyfy\Webhook\Observer\WebhookCartAdded"/>
    </event>

    <event name="checkout_cart_update_items_after">
        <observer name="omnyfy_webhook_cart_updated" instance="Omnyfy\Webhook\Observer\WebhookCartUpdated"/>
    </event>

    <event name="sales_quote_remove_item">
        <observer name="omnyfy_webhook_cart_deleted" instance="Omnyfy\Webhook\Observer\WebhookCartDeleted"/>
    </event>

    <event name="customer_login">
        <observer name="omnyfy_webhook_customer_login" instance="Omnyfy\Webhook\Observer\WebhookCustomerLogin"/>
    </event>

    <event name="catalog_product_save_after">
        <observer name="omnyfy_webhook_product_updated" instance="Omnyfy\Webhook\Observer\WebhookProductUpdated"/>
    </event>
    <event name="omnyfy_catalog_product_save_after">
        <observer name="omnyfy_webhook_product_import_updated" instance="Omnyfy\Webhook\Observer\WebhookProductImportUpdated"/>
    </event>

    <event name="sales_order_shipment_save_after">
        <observer name="omnyfy_webhook_shipment_updated" instance="Omnyfy\Webhook\Observer\WebhookShipmentUpdated"/>
    </event>
</config>