<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Amasty\AltTagGenerator\Ui\DataProvider\Product\Listing\DataProvider" type="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="template_rule_condition" xsi:type="object">Amasty\AltTagGenerator\Ui\DataProvider\Product\Filter\RuleConditionFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Amasty\AltTagGenerator\Ui\DataProvider\Template\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="modify_conditions" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\AltTagGenerator\Ui\DataProvider\Template\Form\Modifier\ModifyConditionsContent</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="add_stores" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\AltTagGenerator\Ui\DataProvider\Template\Form\Modifier\AddStores</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Amasty\AltTagGenerator\Ui\DataProvider\Template\Form\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Amasty\AltTagGenerator\Ui\DataProvider\Template\Form\Modifier\Pool</argument>
        </arguments>
    </type>

    <type name="Amasty\AltTagGenerator\Model\Backend\Template\Initialization">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="template" xsi:type="object">Amasty\AltTagGenerator\Model\Backend\Template\Initialization\TemplateProcessor</item>
                <item name="store" xsi:type="object">Amasty\AltTagGenerator\Model\Backend\Template\Initialization\StoreProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
