<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="amasty_alt_product_template_indexer" instance="Amasty\AltTagGenerator\Observer\Backend\CatalogProductSaveAfterObserver" />
    </event>
    <event name="amasty_alt_template_save_after">
        <observer name="amasty_alt_template_product_indexer" instance="Amasty\AltTagGenerator\Observer\Backend\TemplateSaveAfterObserver" />
    </event>
</config>
