<!--@subject {{trans "%vendor_name has submitted %product_name for your review" vendor_name=$data.getVendorName() product_name=$data.getProductName()}} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p>
                {{trans "%vendor_name has submitted the following product for review" vendor_name=$data.getVendorName()}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="order-details">
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Product Name"}}</h3>
                    </td>
                    <td class="method-info">
                        <h3>{{trans "SKU"}}</h3>
                    </td>
                    <td class="method-info">
                        <h3>{{trans "Marketplace"}}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{trans "%product_name" product_name=$data.getProductName()}}
                    </td>
                    <td>
                        {{trans "%sku" sku=$data.getSku()}}
                    </td>
                    <td>
                        {{trans "%website" website=$data.getWebsiteNames()}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}