<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="easyship" frontName="easyship">
            <module name="Omnyfy_Easyship" />
        </route>
    </router>
</config>
