<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Omnyfy\Order\Helper\Shipping">
        <plugin name="omnyfycustomzation_shipping_omnyfy_order_helper_shipping" type="OmnyfyCustomzation\Shipping\Plugin\Omnyfy\Order\Helper\Shipping"/>
    </type>
    <preference for="Omnyfy\VendorGallery\Ui\Component\Listing\Column\Location" type="OmnyfyCustomzation\VendorGallery\Ui\Component\Listing\Column\Location"/>
</config>
