<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\AltTagGenerator\Api\Data\TemplateInterface" type="Amasty\AltTagGenerator\Model\Template" />
    <preference for="Amasty\AltTagGenerator\Model\Template\Query\GetNewInterface" type="Amasty\AltTagGenerator\Model\Template\Query\GetNew" />
    <preference for="Amasty\AltTagGenerator\Model\Template\Query\GetByIdInterface" type="Amasty\AltTagGenerator\Model\Template\Query\GetByIdCache" />
    <preference for="Amasty\AltTagGenerator\Model\Template\Query\GetListInterface" type="Amasty\AltTagGenerator\Model\Template\Query\GetList" />
    <preference for="Amasty\AltTagGenerator\Model\Template\Command\SaveInterface" type="Amasty\AltTagGenerator\Model\Template\Command\Save" />
    <preference for="Amasty\AltTagGenerator\Model\Template\Command\DeleteTemplateInterface" type="Amasty\AltTagGenerator\Model\Template\Command\DeleteTemplate" />
    <preference for="Amasty\AltTagGenerator\Model\Template\Store\Query\GetByTemplateIdInterface" type="Amasty\AltTagGenerator\Model\Template\Store\Query\GetByTemplateId" />
    <preference for="Amasty\AltTagGenerator\Model\Template\Store\Command\SaveMultipleInterface" type="Amasty\AltTagGenerator\Model\Template\Store\Command\SaveMultiple" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="amasty_alt_template_listing_data_source" xsi:type="string">Amasty\AltTagGenerator\Model\ResourceModel\Template\Grid\Collection</item>
                <item name="amasty_alt_template_form_data_source" xsi:type="string">Amasty\AltTagGenerator\Model\ResourceModel\Template\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\AltTagGenerator\Ui\Component\Listing\Column\Store">
        <arguments>
            <argument name="storeKey" xsi:type="string">stores</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Amasty\AltTagGenerator\Api\Data\TemplateInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="stores" xsi:type="string">Amasty\AltTagGenerator\Model\Extensions\Template\Stores\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="stores" xsi:type="string">Amasty\AltTagGenerator\Model\Extensions\Template\Stores\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="stores" xsi:type="string">Amasty\AltTagGenerator\Model\Extensions\Template\Stores\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\AltTagGenerator\Model\Template\Product\FilterProcessor">
        <arguments>
            <argument name="defaultAttributeResolver" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\AttributeResolver</argument>
            <argument name="globalResolvers" xsi:type="array">
                <item name="store" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\GlobalResolver\StoreResolver</item>
                <item name="store_view" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\GlobalResolver\StoreViewResolver</item>
                <item name="website" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\GlobalResolver\WebsiteResolver</item>
            </argument>
            <argument name="customResolvers" xsi:type="array">
                <item name="startingfrom_price" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\CustomAttributeResolver\BundleFromPriceResolver</item>
                <item name="startingto_price" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\CustomAttributeResolver\BundleToPriceResolver</item>
                <item name="category" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\CustomAttributeResolver\CategoryResolver</item>
                <item name="categories" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\CustomAttributeResolver\CategoriesResolver</item>
                <item name="final_price_incl_tax" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\CustomAttributeResolver\FinalPriceInclTaxResolver</item>
                <item name="final_price" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\CustomAttributeResolver\FinalPriceResolver</item>
                <item name="special_price" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\CustomAttributeResolver\SpecialPriceResolver</item>
                <item name="n" xsi:type="object">Amasty\AltTagGenerator\Model\Template\Product\Filter\CustomAttributeResolver\IncrementResolver</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product\Gallery\ReadHandler">
        <plugin name="Amasty_AltTagGenerator::modify-image-label" type="Amasty\AltTagGenerator\Plugin\Catalog\Model\Product\Gallery\ReadHandler\ModifyImageLabel" />
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="Amasty_AltTagGenerator::modify-image-label" type="Amasty\AltTagGenerator\Plugin\Catalog\Model\ResourceModel\Product\Collection\ModifyImageLabel" />
    </type>
</config>
