<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_GdprCookie
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="Amasty_GdprCookie::gdpr_cookie" title="Amasty Cookie Consent">
                        <resource id="Amasty_GdprCookie::cookies" title="Cookies" />
                        <resource id="Amasty_GdprCookie::cookie_group" title="Cookie Groups" />
                        <resource id="Amasty_GdprCookie::cookie_consent" title="Cookie Consents Log" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Amasty_GdprCookie::config" title="Amasty Cookie Consent Settings" sortOrder="31503" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
