<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_GdprCookie
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_gdprcookie>
            <cookie_policy>
                <bar>1</bar>
                <first_visit_show>1</first_visit_show>
                <confirmation_bar_text><![CDATA[We use cookies to help improve our services, make personal offers, and enhance your experience. If you do not accept optional cookies below, your experience may be affected. If you want to know more, please read the <a href="privacy-policy-cookie-restriction-mode" title="Cookie Policy" target="_blank">Cookie Policy</a> -> We use cookies to improve our services, make personal offers, and enhance your experience. If you do not accept optional cookies below, your experience may be affected. If you want to know more, please, read the <a href="privacy-policy-cookie-restriction-mode" title="Cookie Policy" target="_blank">Cookie Policy</a>]]></confirmation_bar_text>
                <website_interaction>0</website_interaction>
                <allowed_urls>privacy-policy-cookie-restriction-mode</allowed_urls>
                <bar_visibility>0</bar_visibility>
                <auto_cleaning_days>180</auto_cleaning_days>
            </cookie_policy>
            <cookie_bar_customisation>
                <cookies_bar_style>1</cookies_bar_style>
                <classic_bar>
                    <notification_text><![CDATA[We use cookies to help improve our services, make personal offers, and enhance your experience. If you do not accept optional cookies below, your experience may be affected. If you want to know more, please read the <a href="privacy-policy-cookie-restriction-mode" title="Cookie Policy" target="_blank">Cookie Policy</a> -> We use cookies to improve our services, make personal offers, and enhance your experience. If you do not accept optional cookies below, your experience may be affected. If you want to know more, please, read the <a href="privacy-policy-cookie-restriction-mode" title="Cookie Policy" target="_blank">Cookie Policy</a>]]></notification_text>
                </classic_bar>
                <sidebar>
                    <notification_text><![CDATA[We use cookies to help improve our services, make personal offers, and enhance your experience. If you do not accept optional cookies below, your experience may be affected. If you want to know more, please read the <a href="privacy-policy-cookie-restriction-mode" title="Cookie Policy" target="_blank">Cookie Policy</a> -> We use cookies to improve our services, make personal offers, and enhance your experience. If you do not accept optional cookies below, your experience may be affected. If you want to know more, please, read the <a href="privacy-policy-cookie-restriction-mode" title="Cookie Policy" target="_blank">Cookie Policy</a>]]></notification_text>
                </sidebar>
                <popup>
                    <notification_text><![CDATA[We use cookies to help improve our services, make personal offers, and enhance your experience. If you do not accept optional cookies below, your experience may be affected. If you want to know more, please read the <a href="privacy-policy-cookie-restriction-mode" title="Cookie Policy" target="_blank">Cookie Policy</a> -> We use cookies to improve our services, make personal offers, and enhance your experience. If you do not accept optional cookies below, your experience may be affected. If you want to know more, please, read the <a href="privacy-policy-cookie-restriction-mode" title="Cookie Policy" target="_blank">Cookie Policy</a>]]></notification_text>
                </popup>
            </cookie_bar_customisation>
        </amasty_gdprcookie>
    </default>
</config>
