<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OmnyfyCustomzation_Core::vermillion" title="Vermillion"
             module="OmnyfyCustomzation_Core" sortOrder="20"
             resource="OmnyfyCustomzation_Core::vermillion"/>
    </menu>
</config>
