<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="email_shipment_set_template_vars_before">
        <observer name="omnyfy_custom_add_items_to_email" instance="OmnyfyCustomzation\ShippingTracking\Observer\ShipmentEmail" />
    </event>
</config>
