<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="omnyfy" sortOrder="999" translate="label">
			<label>omnyfy</label>
		</tab>
		<section id="vendor_search" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label">
			<label>Vendor Search</label>
			<tab>omnyfy</tab>
			<resource>Omnyfy_VendorSearch::config_omnyfy_vendorsearch</resource>
			<group id="options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Vendor Search</label>
				<field id="is_active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Is Enabled?</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
			</group>
			<group id="search_result" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Vendor Search Result Page</label>
				<field id="page_title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Page title</label>
					<comment/>
				</field>
				<field id="is_search_form" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Display Search Form?</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="is_filters" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Display Filters?</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="is_filter_distance" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Display Distance Filters?</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="location_page" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Location page url?</label>
					<comment/>
					<source_model>Omnyfy\VendorSearch\Model\Config\Source\LocationPage</source_model>
				</field>
			</group>
		</section>

		<section id="vendor_map_search" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Google Vendor Map Search View</label>
			<tab>omnyfy</tab>
			<resource>Omnyfy_VendorSearch::config_vendorsearch</resource>
			<group id="clock" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Module Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="default" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Vendor Search Map view by default</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>If Enabled, Map mode will be default mode on vendor search result page</comment>
				</field>
			</group>
			<group id="map_setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Map Settings</label>
				<field id="map_type" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Map Type</label>
					<source_model>Omnyfy\VendorSearch\Model\Config\Source\System\MapType</source_model>
				</field>
				<field id="map_style" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Map Style</label>
					<source_model>Omnyfy\VendorSearch\Model\Config\Source\System\MapStyle</source_model>
				</field>
				<field id="search_distance" translate="label comment" type="select" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1">
					<label>Default Search Distance (km)</label>
					<source_model>Omnyfy\VendorSearch\Model\Config\Source\System\MapSearchDistance</source_model>
					<comment>
						<![CDATA[This is the distance from the Map Center to conduct the search in all directions]]>
					</comment>
				</field>
				<field id="default_center" translate="label comment" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1">
					<label>Set Default Map Center</label>
					<comment>
						Sets the default Latitude and Longtitude of the Map Center. This will be used if customer does not enter a search area and simply clicks on Search
					</comment>
				</field>
				<field id="default_zoom" translate="label comment" type="text" sortOrder="80" showInWebsite="1" showInStore="1" showInDefault="1">
					<label>Set Default Map Zoom</label>
					<validate>validate-zero-or-greater</validate>
					<comment>
						Numerical Value for the Zoom level of the Google Map
					</comment>
				</field>
				<field id="vendor_marker_icon" translate="label comment" type="image" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Vendor Marker Icon</label>
					<backend_model>Omnyfy\VendorSearch\Model\Config\Backend\Image</backend_model>
					<upload_dir config="system/filesystem/media" scope_info="1">omnyfy/vendorsearch/marker_icon</upload_dir>
					<base_url type="media" scope_info="1">omnyfy/vendorsearch/marker_icon</base_url>
					<comment>
						<![CDATA[This icon is shown on the map. 20x20 px is recommended, <a href="https://www.flaticon.com/search?word=map%20marker" target="_blank">sample icons</a>.]]>
					</comment>
				</field>
				<field id="address_marker_icon" translate="label comment" type="image" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Address Marker Icon</label>
					<backend_model>Omnyfy\VendorSearch\Model\Config\Backend\Image</backend_model>
					<upload_dir config="system/filesystem/media" scope_info="1">omnyfy/vendorsearch/marker_icon</upload_dir>
					<base_url type="media" scope_info="1">omnyfy/vendorsearch/marker_icon</base_url>
					<comment>
						<![CDATA[This icon is shown on the map. 20x20 px is recommended, <a href="https://www.flaticon.com/search?word=map%20marker" target="_blank">sample icons</a>.]]>
					</comment>
				</field>
				<field id="allow" type="Omnyfy\VendorSearch\Block\Adminhtml\Form\Field\LimitMultiselect" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" canRestore="1">
					<label>Allow Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<comment>Maximum number of countries allowed is 5</comment>
				</field>
			</group>
			<group id="map_develop" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Layout Map</label>
				<field id="content_map_area" translate="label" type="text" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1">
					<label>Content Map Area</label>
				</field>
				<field id="layer_container" translate="label" type="text" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1">
					<label>Layer Container</label>
				</field>
				<field id="layer_counter_container" translate="label" type="text" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1">
					<label>Layer Counter Container</label>
				</field>
			</group>
		</section>
	</system>
</config>
