<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Omnyfy\Vendor\Model\ShippingInformationManagement">
        <plugin name="save_order_note_items_to_quote_items" type="OmnyfyCustomzation\OrderNote\Plugin\Model\ShippingInformationManagement" sortOrder="100"/>
    </type>
    <type name="Omnyfy\Mcm\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="omnyfycustomzation_ordernote_set_default_template_render" type="OmnyfyCustomzation\OrderNote\Plugin\Order\View\Items\DefaultRenderer" sortOrder="10" />
    </type>
    <type name="OmnyfyCustomzation\VendorConfirm\Command\SendVendorEmail">
        <plugin name="omnyfycustomzation_ordernote_custom_email_vendor" type="OmnyfyCustomzation\OrderNote\Plugin\Command\SendVendorEmail" sortOrder="10" />
    </type>
    <!--<preference for="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer" type="OmnyfyCustomzation\OrderNote\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer" />-->
</config>
