<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="omnyfy_product_import" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label">
            <class>separator-top</class>
            <label>Product Import</label>
            <tab>omnyfy</tab>
            <resource>Omnyfy_ProductImport::config</resource>

            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="category_strategy" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Import Category Strategy</label>
                    <source_model>Omnyfy\ProductImport\Model\Config\Source\CategoryStrategy</source_model>
                    <comment>By default, the library only adds and updates product-to-category links. It does not remove categories that are not mentioned.</comment>
                </field>
                <field id="image_strategy" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Import Image Strategy</label>
                    <source_model>Omnyfy\ProductImport\Model\Config\Source\ImageStrategy</source_model>
                    <comment>By default, the importer does not delete images. Images are only added and updated. However, the importer will still not remove all images if none are added to the import product payload.</comment>
                </field>
            </group>
        </section>
    </system>
</config>