<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mst_gtm" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label" sortOrder="100">
            <label>Google Tag Manager</label>
            <tab>mirasvit</tab>
            <resource>Mirasvit_GoogleTagManager::system</resource>

            <group id="general" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="gtm_code_regular" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GTM Regular Code</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="gtm_code_noscript" translate="label" type="textarea" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GTM No-Script Code</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="attribute_mapping" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>Attribute mapping</label>

                <field id="product_identifier" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Identifier</label>
                    <source_model>Mirasvit\GoogleTagManager\Model\Config\Source\ProductIdentifier</source_model>
                </field>

                <field id="brand_attribute" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand</label>
                    <source_model>Mirasvit\GoogleTagManager\Model\Config\Source\Brand</source_model>
                    <comment>leave empty to not track</comment>
                </field>

                <field id="track_variants" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Variants</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="custom_data" translate="label comment tooltip" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom dimensions and metrics</label>
                    <frontend_model>Mirasvit\GoogleTagManager\Block\Adminhtml\Config\Form\Field\CustomData</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>

                <field id="resolution_identifier" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Identifier resolution (for cart, checkout and success page)</label>
                    <source_model>Mirasvit\GoogleTagManager\Model\Config\Source\ResolutionIdentifier</source_model>
                </field>
            </group>

            <group id="customer_mapping" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                <label>Customer mapping</label>

                <field id="track_customer_group" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track customer group</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>
        </section>
    </system>
</config>