<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Mail\TransportInterface">
		<plugin name="mageplaza_mail_transport" disabled="true"/>
		<plugin name="mageplaza_mail_transport" type="OmnyfyCustomzation\Smtp\Plugin\Mail\Transport" sortOrder="1" disabled="false"/>
	</type>
	<type name="Magento\SendFriend\Model\SendFriend">
		<plugin name="custom_send_to_friend" type="OmnyfyCustomzation\Smtp\Plugin\Mail\SendFriend" sortOrder="1" disabled="false"/>
	</type>
</config>
